#canvas{
    width: 90vw;
    background: rgb(121, 177, 250);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //border-radius: 10px;
    border: 2px solid rgb(7, 7, 7);
}