*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgb(35, 38, 46);
    //color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    overscroll-behavior: contain;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    z-index: 1;
}
#canvas{
    position: fixed;
    height: 400px;
    width: 400px;
    background-color: rgb(35, 38, 46);
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    font-size: 150px;
    .cell{
        font-family: 'Courier New', Courier, monospace;
        position: relative;
        border-radius: 10px;
        background-color: rgb(25, 29, 41);
        transition: 300ms;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 133px;
        width: 133px;
        &:hover{
            transform: scale(1.02);
            box-shadow: 0 0 15px white;
            cursor: pointer;
        }
    }
    z-index: 2;
}

.message{
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 3px;
    transition: 300ms;
    transform: scale(0) rotate(0);
    .text{
        position: relative;
        font-size: 20px;
    }
    .close{
        position: relative;
        padding: 5px;
        background-color: black;
        color: white;
        border-radius: 3px;
        transition: 300ms;
        &:hover{
            cursor: pointer;
            background: brown;
        }
    }
    &.active{
        transform: scale(1) rotate(360deg);
    }
}