body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overscroll-behavior: contain;
}
#canvas {
    /* background: #DCFFDE;*/
    background-color:#e9ffe1;
    border: 2px solid #c5ff9b;
    font-family: Arial, Helvetica, sans-serif;
}
